---
layout: page-narrow.njk
title: Blog Tags - All
description: An overview of all tags for articles written by Ted Tramonte.
eleventyNavigation:
  key: Blog Tags
  parent: Blog
---

<h1 class="text-center display-1">{{ title }}</h1>
<ul class="list-group mt-3">
{% for tag in collections.blogTags | sort %}
  {% set tagUrl %}/blog/tags/{{ tag.name | slug }}/{% endset %}
  <li class="list-group-item"><a href="{{ tagUrl | url }}">{{ tag.name }} ({{ tag.count }})</a></li>
{% endfor %}
</ul>
