---
pagination:
  data: collections.blogTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: page-narrow.njk
eleventyComputed:
  title: Blog Tags - {{ tag.name }}
permalink: /blog/tags/{{ tag.name | slug }}/
description: An overview of all articles with a specific tag written by Ted Tramonte.
eleventyNavigation:
  key: Tag
  parent: Blog Tags
---

<h1 class="text-center display-1">{{ title }}</h1>
{% set posts = collections[ tag.name ] %}
{% for post in posts | sort(true, false, attribute='date') %}
<article class="card mb-3">
    <div class="card-body">
        <h3 class="card-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
        {% if post.data.description %}<p role="doc-subtitle" class="lead">{{ post.data.description }}</p>{% endif %}
        <p class="card-text">{{ post.templateContent | truncate(400) | safe }}</p>
    </div>
    {% if post.data.date or post.data.last_updated or post.data.tags %}
    <div class="card-footer">
        <div class="row">
        {% if post.data.date or post.data.last_updated %}
        <div class="col-sm-6">

            {% if post.data.date %}
            <span class="badge bg-secondary">Published: <time datetime="{{ post.data.date }}">{{ post.data.date.toDateString() }}</time></span>
            {% endif %}

            {% if post.data.last_updated %}
            <span class="badge bg-danger">Updated: <time datetime="{{ post.data.last_updated }}">{{ post.data.last_updated.toDateString() }}</time></span>
            {% endif %}

        </div>
        {% endif %}
        {% if post.data.tags %}
        <div class="col-sm-6 text-end">
            {% for tag in post.data.tags | sort %}
            {% if tag !== 'posts' %}
            {% set tagUrl %}/blog/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}"><span class="badge bg-primary">{{ tag }}</span></a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        </div>
    </div>
    {% endif %}
</article>
{% endfor %}
