<footer class="mt-auto">
    <nav class="navbar navbar-expand-md justify-content-center navbar-dark bg-dark">
        <div class="navbar-nav text-center">
            <a class="nav-item nav-link" href="https://gitlab.com/tedtramonte/tedtramonte.gitlab.io/commits" target="_blank" rel="noopener"><img alt="Commit SHA" src="https://img.shields.io/badge/dynamic/json?label=commit&query=0.short_id&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F25402188%2Frepository%2Fcommits%3Fref_name%3Dmain" width="116" height="20"></a>
            <span class="navbar-text"><img alt="Last updated" src="https://img.shields.io/badge/dynamic/json?label=updated&query=0.created_at&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F25402188%2Frepository%2Fcommits%3Fref_name%3Dmain" width="252" height="20"></span>
            <a class="nav-item nav-link" href="https://gitlab.com/tedtramonte/tedtramonte.gitlab.io/builds" target="_blank" rel="noopener"><img alt="GitLab pipeline" src="https://img.shields.io/gitlab/pipeline-status/tedtramonte/tedtramonte.gitlab.io"  width="88" height="20"></a>
            <a class="nav-item nav-link" href="https://gitlab.com/tedtramonte/tedtramonte.gitlab.io" target="_blank" rel="noopener">View Source</a>
            <a class="nav-item nav-link" href="https://www.tedtramonte.com" target="_blank" rel="noopener">Created by Ted Tramonte</a>
            <span class="navbar-text ms-md-3 my-auto">© Ted Tramonte, LLC</span>
        </div>
    </nav>
</footer>
