<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NG7342W');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ description }}">

    <!-- Open Graph Metadata for embeds -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ted Tramonte, LLC">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}">
    <meta property="og:image" content="{{ '/assets/img/logo-black.png' | url | absoluteUrl(metadata.url) }}">
    <meta property="og:image:alt" content="Ted Tramonte, LLC logo">
    <meta property="og:image:width" content="40">
    <meta property="og:image:height" content="40">

    <!-- Discord Metadata for embeds -->
    <meta name="theme-color" content="#653aa6" data-react-helmet="true">

    <!-- Twitter Metadata for embeds -->
    <meta name="twitter:card" content="summary">

    {% for meta in meta_extra %}
    {{ meta }}
    {% endfor %}
    <title>
        {{ title }}
    </title>
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Ted Tramonte, LLC",
    "slogan": "Full stack web developer, versatile photographer, and swiss army knife musician.",
    "description": "Ted Tramonte is a full stack web developer, versatile photographer, and swiss army knife musician.",
    "founder": "Ted Tramonte",
    "url": "https://www.tedtramonte.com",
    "logo": "http://www.tedtramonte.com/assets/img/logo-black.png"
    }
    </script>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-128.png" sizes="128x128"/>
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    {% for css in css_extra %}
    <link rel="stylesheet" type="text/css" href="/assets/css/{{ css }}">
    {% endfor %}
    <script src="/assets/js/critical.js"></script>
</head>
