<div class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom border-3 border-secondary">
        <a href="/" class="navbar-brand">{% img src="/assets/img/logo-white.png", alt="Ted Tramonte logo", class="no-blur", widths=['40'], formats=['webp', 'avif', null] %}
            Ted Tramonte, LLC</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-wrap justify-content-center" id="navbarNav">
            <ul class="navbar-nav text-end me-3">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}" {% if page.url == '/' %}aria-current="page"{% endif %} href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/projects/' in page.url %}active{% endif %}" {% if page.url == '/projects/' %}aria-current="page"{% endif %} href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/photography/' in page.url %}active{% endif %}" {% if page.url == '/photography/' %}aria-current="page"{% endif %} href="/photography">Photography</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.soundcloud.com/ted-tramonte"  target="_blank" rel="noopener">SoundCloud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/blog/' in page.url %}active{% endif %}" {% if page.url == '/blog/' %}aria-current="page"{% endif %} href="/blog">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resume
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" target="_blank" href="https://resume.tedtramonte.com/">HTML Format</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://resume.tedtramonte.com/Theodore_Ted_Tramonte_Resume.pdf">PDF Format</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/contact/' in page.url %}active{% endif %}" {% if page.url == '/contact/' %}aria-current="page"{% endif %} href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav text-end me-3 ms-auto">
                <li class="nav-item">
                    <div class="form-check form-switch">
                        <input class="form-check-input float-none float-md-start" type="checkbox" id="darkModeToggle">
                        <label class="form-check-label text-light" for="darkModeToggle">Dark Mode</label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {% if (eleventyNavigation.key or eleventyNavigation.parent) and page.url != '/' %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom border-3 border-primary d-none d-sm-block py-0">
        {% set parentPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
        <ul class="navbar-nav">
            {% for page in parentPages %}
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="{{ page.url | url }}">{{ page.title }}</a> <span class="text-white">></span>
            </li>
            {% endfor %}
            <li class="nav-item d-flex align-items-center">
                <span class="text-white mx-2" aria-current="page">{{ eleventyNavigation.key }}</span>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
