---
layout: page-wide.njk
title: Photography
description: A selection of photos taken and edited by Ted Tramonte.
eleventyNavigation:
  key: Photography
  parent: Home

js_extra:
  - photography.js
---
<h1 class="text-center display-1">{{ title }}</h1>
<div class="row mb-3">
  <div class="col-md-4 offset-md-4">
    <p>Capturing humanity at its best and worst is what drew me to photography originally. As time went on, I found joy in documenting the nature around me as it exists in the present.
    <p>Nevertheless, while I focus on portraiture and nature photography in my free time, I'm capable of almost any style. I've pleased clients who have contracted with me for real estate shoots, event photography, concerts, aerial photography (FAA Part-107 certified), and more.</p>
    <p>From graduation photos and social media modeling shoots to complete interior and drone shots of your newest real estate listing, <a href="/contact">contact me to get the photos and videos you need to impress your audience</a>.</p>
  </div>
</div>


<div class="row photo-grid pswp-gallery" id="photogallery">
  {% for photo in photogallery.photos %}
  <div class="col-md-6 col-lg-4 col-xxl-4 photo-grid-item">
    <div class="card shadow-lg mb-3">

    <figure class="figure mb-1">
      {% img src=photo.path, alt=photo.alt_text, class="card-img-top figure-img", widths=[null], formats=['webp', 'avif', null], link=true %}
      <figcaption class="figure-caption text-center">
        <cite title="Source Title">{{ photo.title or 'Untitled' }}</cite> by Ted Tramonte
      </figcaption>
    </figure>

    </div>
  </div>
  {% endfor %}

</div>
