// Custom CSS
.anchor {
  top: -122px;
  display: block;
  position: relative;
  visibility: hidden;
}

.parallax-header {
    margin-top: -66px;
    min-height: 100vh;
    background-color: gray;/*displayed if image unavailable*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.parallax-header-content{
  background: rgba(0, 0, 0, 0.4);
}

.parallax-spacer {
    min-height: 60vh;
    background-color: gray;/*displayed if image unavailable*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.position-bottom-right {
  right: 15px;
  bottom: 15px;
  z-index: 1000;
}

.nav-link.active {
  font-weight: bold;
}

.lazyload, .lazyloading {
  &:not(.no-blur) {
    filter: blur(1rem);
    // opacity: 1;
    transform: scale(1.005);
    // transition: filter 400ms, transform 400ms;
  }
}

.lazyloaded {
  filter: blur(0);
  transform: scale(1.0);
  transition: filter 650ms, transform 150ms;
}

// Ensures image is never wider than its container and the aspect ratio is maintained
img {
  // display: block;
  // width: 100%;
  max-width: 100%;
  height: auto;
}
