---
layout: page.njk
title: Blog
description: Informative articles written by Ted Tramonte on technology, photography, and music.
eleventyNavigation:
  key: Blog
  parent: Home
---
<h1 class="text-center display-1">{{ title }}</h1>
<div class="row mb-3">
    <div class="col-md-6 offset-md-3">
      <p>Occasionally I write about interesting problems or projects I've worked on in my professional and personal experience. These articles help cement the concepts and solutions I find, and I hope they serve as a useful reference for others.</p>
    </div>
</div>
<div class="row">
    <section class="col-md-9">
        <h2>Recent Posts</h2>
        {% for post in collections.posts | sort(true, false, attribute='date') | head(5) %}
        <article class="card mb-3">
            <div class="card-body">
                <h3 class="card-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                {% if post.data.description %}<p role="doc-subtitle" class="lead">{{ post.data.description }}</p>{% endif %}
                <p class="card-text">{{ post.templateContent | truncate(400) | safe }}</p>
            </div>
            {% if post.data.date or post.data.last_updated or post.data.tags %}
            <div class="card-footer">
                <div class="row">
                {% if post.data.date or post.data.last_updated %}
                <div class="col-sm-6">

                    {% if post.data.date %}
                    <span class="badge bg-secondary">Published: <time datetime="{{ post.data.date }}">{{ post.data.date.toDateString() }}</time></span>
                    {% endif %}

                    {% if post.data.last_updated %}
                    <span class="badge bg-danger">Updated: <time datetime="{{ post.data.last_updated }}">{{ post.data.last_updated.toDateString() }}</time></span>
                    {% endif %}

                </div>
                {% endif %}
                {% if post.data.tags %}
                <div class="col-sm-6 text-end">
                    {% for tag in post.data.tags | sort %}
                    {% if tag !== 'posts' %}
                    {% set tagUrl %}/blog/tags/{{ tag | slug }}/{% endset %}
                    <a href="{{ tagUrl | url }}"><span class="badge bg-primary">{{ tag }}</span></a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                </div>
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </section>
    <section class="col-md-3">
        <article class="card mb-3">
            <header class="card-header">
                <h2 class="card-title h4"><a href="/blog/tags/">Tags</a></h2>
            </header>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for tag in collections.blogTags | sort(false, false, attribute='name') | sort(true, false, attribute='count') | head(10) %}
                    {% set tagUrl %}/blog/tags/{{ tag.name | slug }}/{% endset %}
                    <li><a href="{{ tagUrl | url }}">{{ tag.name }} ({{ tag.count }})</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer text-center">
                <a href="/blog/tags/">View all tags</a>
            </div>
        </article>
    </section>
</div>
