---
layout: page.njk
title: Contact Ted
description: Projects that prove Ted Tramonte has plenty of experience as a full stack web developer, Python programmer, and containerization specialist.
eleventyNavigation:
  key: Contact
  parent: Home
---

<h1 class="text-center display-1">{{ title }}</h1>
<div class="row mb-3">
    <div class="col-md-6 offset-md-3">
        <p>Ready to put me to work? Great! I just need some information from you in order to get the process started. Most of it is optional, but I appreciate you providing as much detail as you can give me up front.</p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
        <form class="card" method="post" action="https://formspree.io/f/xoqynvjk" accept-charset="utf-8">
            <div class="card-body">
                <fieldset>
                    <legend>Contact Information</legend>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="name" class="form-label">Name <span class="text-danger">(required)</span></label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Ted Tramonte" required>
                            <div id="nameHelp" class="form-text">First and last preferably, but anything you're comfotable with.</div>
                        </div>
                        <div class="col-6">
                            <label for="pronouns" class="form-label">Pronouns</label>
                            <input type="text" class="form-control" id="pronouns" name="pronouns" aria-describedby="pronounsHelp" placeholder="He/Him">
                            <div id="pronounsHelp" class="form-text">How you'd prefer I refer to you, if that's necessary.</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="ted@tedtramonte.com">
                            <div id="emailHelp" class="form-text"><strong>I hate spam.</strong> If you provide an email, I won't be using it for any reason except to contact you.</div>
                            <div class="form-check mt-3">
                                <input type="checkbox" class="form-check-input" id="preferEmail" name="preferEmail">
                                <label class="form-check-label" for="preferEmail">I like to be contacted by email</label>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="phone" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="555-555-5555">
                            <div id="phoneHelp" class="form-text"><strong>I hate telemarketers.</strong> If you provide a phone number, I won't be using it for any reason except to contact you.</div>
                            <div class="form-check mt-3">
                                <input type="checkbox" class="form-check-input" id="preferText" name="preferText">
                                <label class="form-check-label" for="preferText">I like to be contacted by text message</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="perferCall" name="perferCall">
                                <label class="form-check-label" for="perferCall">I like to be contacted by phone call</label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger">
                        Note: While optional, without providing either an email address or phone number, I will have no way of responding back to you!
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Details</legend>

                    <div class="mb-3">
                        <label for="reason" class="form-label">Reason <span class="text-danger">(required)</span></label>
                        <select class="form-select" id="reason" name="reason" required>
                            <option value="" selected disabled>Select a reason for contacting me</option>
                            <option value="General Question">General Question</option>
                            <option value="Technology Project">Technology Project</option>
                            <option value="Photography Project">Photography Project</option>
                            <option value="Music Project">Music Project</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="I have a cool project in mind and I want you to make it a reality! It's a ..."></textarea>
                    </div>
                </fieldset>

                <div class="alert alert-warning">
                    <p class="mb-0">Your message is sent to my inbox using <a href="https://formspree.io/" target="_blank" rel="noopener">Formspree</a>. They generally don't store these messages, but if you're concerned, you can review the <a href="https://formspree.io/legal/privacy-policy" target="_blank" rel="noopener">Formspree Privay Police</a> or take a look at the <a href="https://github.com/formspree/formspree" target="_blank" rel="noopener">Formspree source code</a>.</p>
                </div>

                <input type="hidden" name="_subject" value="Contact Form Submission">
                <input type="hidden" name="_gotcha" value="">
                <input type="hidden" name="_replyto" id="replyto" value="">

                <div class="text-end">
                    <input type="submit" class="btn btn-primary" value="Send Message">
                </div>
            </div>
        </form>
    </div>
</div>

<script>
let emailInput = document.getElementById('email');
let replytoInput = document.getElementById('replyto');

emailInput.oninput = (event) => {
  replytoInput.value = emailInput.value;
};
</script>
