---
title: Ted Tramonte, LLC
description: Ted Tramonte is a full stack web developer, versatile photographer, and "swiss army knife" musician.
---
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" class="h-100">

    {% include 'head.njk' %}

    <body class="d-flex flex-column min-vh-100">
        <nav aria-labelledby="skip">
            <a class="visually-hidden visually-hidden-focusable" href="#main" id="skip">Skip to main content</a>
        </nav>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG7342W"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include 'nav.njk' %}

        <main id="main" class="container-fluid flex-fill">
            {{ content | safe }}
            {% if '/contact/' not in page.url %}
                {% contact_button %}
            {% endif %}
        </main>

        {% include 'footer.njk' %}

        <script src="/assets/js/index.js"></script>
        {% for script in js_extra %}
        <script src="/assets/js/{{ script }}"></script>
        {% endfor %}
    </body>
</html>
