---
layout: base.njk
author: Ted Tramonte
tags:
    - posts
eleventyNavigation:
  key: Post
  parent: Blog
---

<div class="row mt-3">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <article>
            <header class="d-flex flex-column mb-3">
                <h1>{{title}}</h1>
                {% if description %}<p role="doc-subtitle" class="lead">{{description}}</p>{% endif %}
                <address class="ms-auto mb-0"><em>Written by {{ author }}</em></address>
                <span class="ms-auto">Published: <time datetime="{{ date }}">{{ date.toDateString() }}</time></span>
                {% if last_updated %}<span class="ms-auto">Updated: <time datetime="{{ last_updated }}">{{ last_updated.toDateString() }}</time></span>{% endif %}
            </header>
            <hr>
            {{ content | safe }}
        </article>
    </div>
</div>
