---
layout: page-wide.njk
title: Ted Tramonte, LLC
description: Ted Tramonte is a full stack web developer, versatile photographer, and "swiss army knife" musician.
eleventyNavigation:
  key: Home
---
<div class="row parallax-header align-items-center" style="{% background_image src='/assets/img/photography/20180303-DSC_0184-Web.jpeg', formats=['webp', 'avif', null] %}">
  <div class="col-sm-12">
    <div class="row text-center no-gutters align-items-center justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 parallax-header-content shadow">
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-6 col-lg-4 g-sm-0">
            {% img src="/assets/img/headshot.jpeg", alt="Ted Tramonte headshot", class="img-fluid", widths=[null], formats=['webp', 'avif', null] %}
          </div>
          <div class="col-sm-6 col-lg-8">
            <h1 class="display-4">{{ title }}</h1>
            <p>Fort Myers, FL</p>
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-3 mb-3 mb-lg-0">
                <a class="link-light" href="#web">Web Developer</a>
              </div>
              <div class="col-lg-3 mb-3 mb-lg-0">
                <a class="link-light" href="#photos">Photographer</a>
              </div>
              <div class="col-lg-3 mb-3 mb-lg-0">
                <a class="link-light" href="#music">Musician</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center justify-content-center">
  <div class="col-lg-10 pt-5">
    <h2 class="text-center display-4 mb-3">Skills and Services</h2>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-3">
        <div class="card border-primary h-100 shadow-lg">
          <div class="card-body">
            <h3 class="card-title h4 text-primary text-center">Full Stack Web Developer</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Docker and Podman, Kubernetes, GitLab CI/CD</li>
            <li class="list-group-item">Python (Django), PHP (Laravel, WordPress)</li>
            <li class="list-group-item">HTML, SCSS, JavaScript (React), Webpack</li>
            <li class="list-group-item">PostgreSQL, MySQL and MariaDB</li>
          </ul>
          <div class="card-footer text-center">
            <a href="#web">More Details</a>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card border-primary h-100 shadow-lg">
          <div class="card-body">
            <h3 class="card-title h4 text-primary text-center">Versatile Photographer</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Portraits, Headshots, Modeling</li>
            <li class="list-group-item">Real Estate Interiors and Exteriors</li>
            <li class="list-group-item">Events, Concerts</li>
            <li class="list-group-item">FAA Certified Drone Pilot (FAA Part-107)</li>
          </ul>
          <div class="card-footer text-center">
            <a href="#photos" class="card-link">More Details</a>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card border-primary h-100 shadow-lg">
          <div class="card-body">
            <h3 class="card-title h4 text-primary text-center">"Swiss Army Knife" Musician</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Bass, Guitar, Vocals</li>
            <li class="list-group-item">Engineering, Production, Writing</li>
            <li class="list-group-item">Live Performance Experience</li>
          </ul>
          <div class="card-footer text-center">
            <a href="#music" class="card-link">More Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<span id="web" class="anchor"></span>
<div class="row align-items-center justify-content-center my-5">
  <div class="col-lg-7 col-md-12">
    <h2>Full Stack Web Developer</h2>
    <p><span class="lead">I have over five years of professional web development and design experience</span> under my belt and even more as a hobbyist. My work tends towards minimalism while prioritizing usability and accessiblity.</p>
    <p>My passions are in the realm of containerization and systems administration. Ansible, GitLab CI/CD, Docker and Podman, and Kubernetes are my bread and butter. In fact, almost all of my personal projects are deployed on my self hosted bare metal Kubernetes cluster.</p>
    <p>Whether you need a project built from the bottom up or just consultation on some implementation details, I can help you <a href="/contact">get your project off the drawing board and into production</a>.</p>
    <div class="float-end">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Resume
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" target="_blank" href="https://resume.tedtramonte.com/">HTML Format</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://resume.tedtramonte.com/Theodore_Ted_Tramonte_Resume.pdf">PDF Format</a></li>
          </ul>
        </div>
      <a href="/projects" class="btn btn-lg btn-primary">View Projects</a>
    </div>
  </div>
  <div class="col-lg-3 d-none d-lg-block">
    {% img src="/assets/img/projects/screenshot-fsw.png", alt="FSW 2019 Redesign screenshot", class="img-fluid shadow-lg", widths=[null], formats=['webp', 'avif', null], link=true %}
  </div>
</div>

<div class="d-none d-sm-block row parallax-spacer" style="{% background_image src='/assets/img/photography/20200530-DJI_0310-Web.jpeg', formats=['webp', 'avif', null] %}"></div>

<span id="photos" class="anchor"></span>
<div class="row align-items-center justify-content-center my-5">
  <div class="col-lg-4 col-md-3">
    {% img src="/assets/img/photography/20200530-DJI_0406-Web.jpeg", alt="Fort Myers Beach Pier", class="img-fluid shadow-lg mb-3 mb-md-0", widths=[null], formats=['webp', 'avif', null], link=true %}
  </div>
  <div class="col-lg-6 col-md-9 mt-3">
    <h2>Versatile Photographer</h2>
    <p><span class="lead">While I focus on portraiture and nature photography in my free time, I'm capable of almost any style.</span> I've pleased clients who have contracted with me for real estate shoots, event photography, concerts, aerial photography (FAA Part-107 certified), and more.</p>
    <p>From graduation photos and social media modeling shoots to complete interior and drone shots of your newest real estate listing, <a href="/contact">contact me to get the photos and videos you need to impress your audience</a>.</p>
    <div class="float-end">
      <a href="/photography" class="btn btn-lg btn-primary">View Portfolio</a>
    </div>
  </div>
</div>

<div class="row parallax-spacer d-none d-sm-block" style="{% background_image src='/assets/img/photography/20191102-DSC_1334-Web.jpeg', formats=['webp', 'avif', null] %}"></div>

<span id="music" class="anchor"></span>
<div class="row align-items-center justify-content-center my-5">
  <div class="col-lg-6 col-md-9 mb-3">
    <h2>"Swiss Army Knife" Musician</h2>
    <p><span class="lead">As a bassist, guitarist, singer, song writer, producer, and engineer, I bring a lot of utility to any project in which I'm involved.</span></p>
    <p>Beginning with the bass in my high school garage metal band, I've honed my skills and expanded my knowledge while gigging and recording with acts like <em>The Cardinal Newman High School Jazz Band</em>, <em>Retained</em>, <em>Teddy and The Bears</em>, <em>Zeniths and Nadirs</em>, and <em>Twenty Something</em>.</p>
    <p>While I'm not currently seeking work in this area, <a href="/contact">it wont hurt to contact me</a> as I'm always excited about opportunities to jam with local musicians.</p>
    <div class="float-end">
      <a href="https://www.soundcloud.com/ted-tramonte" class="btn btn-lg btn-primary" target="_blank" rel="noopener">Listen on SoundCloud</a>
    </div>
  </div>
  <div class="col-lg-4 col-md-3">
    {% img src="/assets/img/bonnamu.jpeg", alt="Bonnamu 2015", class="img-fluid shadow-lg", widths=[null], formats=['webp', 'avif', null], link=true %}
  </div>
</div>

<div class="row parallax-spacer d-none d-sm-block" style="{% background_image src='/assets/img/photography/20200530-DJI_0406-Web.jpeg', formats=['webp', 'avif', null] %}"></div>

<div class="row align-items-center justify-content-center my-5">
  <div class="col-lg-8 col-md-12">
    <h2>Get In Touch</h2>
    <p>Ready to put me to work? Great! Head over to <a href="/contact">my contact page</a> and reach out to me however you like.</p>
    <div class="text-center mb-3">
      <a href="/contact" class="btn btn-lg btn-primary">Contact Ted</a>
    </div>
    <p>Otherwise, you must have scrolled this far without being convinced. Well, I never claimed to be a copywriter. Instead, I let my work speak for itself. Take a look at some more examples below or check out my <a href="/projects">tech projects</a>, my <a href="/photography">photography portfolio</a>, or my <a href="https://www.soundcloud.com/ted-tramonte" target="_blank" rel="noopener">music on SoundCloud</a>.</p>

    <div class="row mb-5">
      <div class="col">
        <div class="card shadow-lg">
          {% img src="/assets/img/projects/screenshot-fsw.png", alt="FSW 2019 Redesign screenshot", class="card-img-top", widths=[null], formats=['webp', 'avif', null], link=true %}
          <div class="card-body">
            <h3 class="card-title">FSW 2019 Redesign</h3>
            <p class="card-text">Designing for the needs of a university wasn't easy, but simplifying and modernizing FSW's web presence was met with universal appreciation from faculty, staff, and students.</p>
          </div>
          <div class="card-footer text-center">
            <a href="/projects">Read more about the redesign</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card shadow-lg">
          {% img src="/assets/img/photography/20200530-DJI_0310-Web.jpeg", alt="Aerial Real Estate Photography example", class="card-img-top", widths=[null], formats=['webp', 'avif', null], link=true %}
          <div class="card-body">
            <h3 class="card-title">Aerial Real Estate Photography</h3>
            <p class="card-text">My aerial photography has helped <em>My Florida Real Estate</em> close many rental and sales listings.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-lg">
          {% img src="/assets/img/projects/screenshot-lynchinginlabelle.png", alt="Lynching in LaBelle", class="card-img-top", widths=[null], formats=['webp', 'avif', null], link=true %}
          <div class="card-body">
            <h3 class="card-title">LynchingInLaBelle.com</h3>
            <p class="card-text">When Professor of History Brandon Jett reached out to me for assistance with his digital history project chronicling the murder of a young man in South West Florida, I jumped at the opportunity to contribute.</p>
          </div>
          <div class="card-footer text-center">
            <a href="/projects">Read more about the project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="float-end">
      <p><sub>That was my final sales pitch.</sub></p>
    </div>
  </div>
</div>
