---
layout: page-wide.njk
title: Projects
description: Projects that prove Ted Tramonte has plenty of experience as a full stack web developer, Python programmer, and containerization specialist.
eleventyNavigation:
  key: Projects
  parent: Home

js_extra:
  - projects.js
---
<h1 class="text-center display-1">{{ title }}</h1>
<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <p>With over five years of professional experience under my belt and personal passions in the realm of containerization and systems administration, you can be sure that whether you need a project built from the bottom up or just consultation on some implementation details, I can help you <a href="/contact">get your project off the drawing board and into production</a>.</p>
    <p>Below is a (roughly) reverse-chronological list of projects I've worked on with some additional context. I've highlighted projects that I'm particularly proud of. If that's not enough for you, <a href="https://gitlab.com/users/tedtramonte/projects" target="_blank" rel="noopener">check out my GitLab profile</a> for all of my open source repositories.</p>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <span class="d-flex justify-content-end" id="filter-label"><strong>Filters</strong></span>
    <div class="btn-toolbar justify-content-end align-items-center">
      <div class="flex-wrap btn-group filters-button-group" role="group" aria-labelledby="filter-label">

        <input class="btn-check" type="checkbox" name="project-filter" id="featured-filter" autocomplete="off" data-iso-filter=".project-featured">
        <label class="btn btn-outline-primary" for="featured-filter">Featured</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="docker-filter" autocomplete="off" data-iso-filter=".project-docker">
        <label class="btn btn-outline-primary" for="docker-filter">Docker</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="go-filter" autocomplete="off" data-iso-filter=".project-go">
        <label class="btn btn-outline-primary" for="go-filter">Go</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="js-filter" autocomplete="off" data-iso-filter=".project-js">
        <label class="btn btn-outline-primary" for="js-filter">JavaScript</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="kubernetes-filter" autocomplete="off" data-iso-filter=".project-kubernetes">
        <label class="btn btn-outline-primary" for="kubernetes-filter">Kubernetes</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="php-filter" autocomplete="off" data-iso-filter=".project-php">
        <label class="btn btn-outline-primary" for="php-filter">PHP</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="python-filter" autocomplete="off" data-iso-filter=".project-python">
        <label class="btn btn-outline-primary" for="python-filter">Python</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="rust-filter" autocomplete="off" data-iso-filter=".project-rust">
        <label class="btn btn-outline-primary" for="rust-filter">Rust</label>

        <input class="btn-check" type="checkbox" name="project-filter" id="sql-filter" autocomplete="off" data-iso-filter=".project-sql">
        <label class="btn btn-outline-primary" for="sql-filter">SQL</label>

      </div>
    </div>
  </div>
</div>

<div class="row d-none" id="noResultsMsg">
  <div class="col-md-6 offset-md-3">
    <div class="alert alert-danger">I'm not bragging about any projects with that combination of technologies yet. You should <a href="/contact">contact me</a> and let's talk about what you're looking for!</div>
  </div>
</div>

<div class="row project-grid">
  {% for project in projects %}
  <div class="col-md-6 col-lg-4 col-xxl-3 project-grid-item{% for tag in project.tags %} project-{{ tag }}{% endfor %}">
    <div class="card shadow-lg mb-3{% if project.featured %} border-2 border-primary{% endif %}">
      {% if project.date or project.tags %}
      <div class="card-header">
        <div class="row">
          {% if project.date %}
          <div class="col-sm-6">
            <span class="badge bg-secondary">{{ project.date }}</span>
          </div>
          {% endif %}
          {% if project.tags %}
          <div class="col-sm-6 text-end">
            {% for tag in project.tags %}
            <span class="badge bg-primary">{{ tag }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% if project.image and project.image.position == 'top' %}
        {% set imgsrc = ["/assets/", project.image.path] | join %}
        {% img src=imgsrc, alt=project.image.alt_text, class="card-img-top", widths=[null], formats=['webp', 'avif', null], link=true %}
      {% endif %}

      <div class="card-body">

        {% if project.image and project.image.position == 'float' %}
          {% set imgsrc = ["/assets/", project.image.path] | join %}
          {% img src=imgsrc, alt=project.image.alt_text, class="float-start me-3 mb-3", style="max-width: 25%; height: auto;", widths=[null], formats=['webp', 'avif', null], link=true %}
        {% endif %}

        {% if project.title %}
        <h2 class="card-title h4">{{ project.title }}</h2>
        {% endif %}

        {% if project.description %}
        {% for p in project.description %}
        <p class="card-text">{{ p | safe}}</p>
        {% endfor %}
        {% endif %}

      </div>

      {% if project.technologies %}
      <ul class="list-group list-group-flush">
        {% for li in project.technologies %}
        <li class="list-group-item">{{ li }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if project.link %}
      <div class="card-footer text-center">
        <a href="{{ project.link.href }}" target="_blank" rel="noopener">{{ project.link.text }}</a>
      </div>
      {% endif %}

      {% if project.image and project.image.position == 'bottom' %}
        {% set imgsrc = ["/assets/", project.image.path] | join %}
        {% img src=imgsrc, alt=project.image.alt_text, class="card-img-top", widths=[null], formats=['webp', 'avif', null], link=true %}
      {% endif %}

    </div>
  </div>
  {% endfor %}

</div>
